{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="robots" content="noarchive" />
<title>{% block title %} Word Confusion! {% endblock %}</title>

<script src="{{ STATIC_PREFIX }}js/jquery-1.5.1.min.js" type="text/javascript"
    charset="utf-8"></script>
<script src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.9.custom.min.js" type="text/javascript"
    charset="utf-8"></script>
<script type="text/javascript">
    //<![CDATA[
        {% include 'wordconfuse.js' %}
    //]]>
</script>

<style type="text/css">
        {% include 'wordconfuse.css' %}
</style>


<meta name="robots" content="INDEX,FOLLOW" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-78464-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>

<body>
    <div class="container">
        {% block container %}{% endblock %}
    </div>
</body>
</html>

