/* http://colorschemedesigner.com/#00c2mw0w0w0w0 */

body {
    /*background-color: #99ccff;*/
    background-color: #fffec7;
    font-family: Arial, Helvetica, sans-serif;

}

a:link {color: #4242ff;}
a:visited {color: #4242ff;}
a:active {color: #ff6666;}
a:hover {color: #ff6666;}
a {text-decoration: none;}

h1 {

margin-top: 2px;
margin-bottom: 2px;
font-size: 16px;

}

div.container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
/* CSS for highscore screen */
div.hs-header {
    width:100%;
    text-align:center;
    margin-top:5px;
}
div.hs {
    margin-top: 5%;
    background-color: #afffaf;
    position: absolute;
    width: 500px;
    height: 300px;
    display:none;


    border: 10px dashed #4242ff;
    -webkit-border-top-left-radius: 35px;
    -webkit-border-bottom-left-radius: 35px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-bottom-right-radius: 35px;
    -moz-border-radius-topleft: 35px;
    -moz-border-radius-bottomleft: 35px;
    -moz-border-radius-topright: 35px;
    -moz-border-radius-bottomright: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;



}


div.hs-container {
    width: 100%;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}



/* CSS for spash screen */ 

div.splash {
    width: 520px;
    height: 210px;
    margin-top: 5%;
    background-color: #afffaf;
    position: absolute;
    padding-top:5px;
    padding-bottom:5px;
    display:none;

    border: 10px dashed #4242ff;
    -webkit-border-top-left-radius: 35px;
    -webkit-border-bottom-left-radius: 35px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-bottom-right-radius: 35px;
    -moz-border-radius-topleft: 35px;
    -moz-border-radius-bottomleft: 35px;
    -moz-border-radius-topright: 35px;
    -moz-border-radius-bottomright: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;

}

div.spash-header {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}

div.spash-buttons {
    clear: both;
    width: 100%;
    position: relative;

}

div.new {
    position: absolute;
    left: 90px;
    top: 0px;
    border: 1px solid black;
    background-color: #d5ffd5;
}

div.new:hover {
    border: 1px dotted #ff6767;

}
div.highscores:hover {
    border: 1px dotted #ff6767;
}
div.highscores {
    position: absolute;
    left: 255px;
    top: 0px;
    border: 1px solid black;
    background-color: #d5ffd5;
}

/* CSS for gameover */
table {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    border-width: 1px;
    border-spacing: 2px;
    border-style: none;
    border-color: black;
    border-collapse: collapse;
    font-size: 11px;
}
table th {
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: gray;
    background-color: #ffcc66;
}
table td {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: gray;
    background-color: #f1fd72;
    font-weight: bold;
}

div.gameover {
    border: 1px solid black;
    margin-top: 5%;
    position: absolute;
    display: none;
    background-color: #afffaf;
    height: 400px;
    width: 500px;
    z-index: -100;
}

div.gameover_info {
    text-align: center;
}
div.error {
    clear: both;
    color: red;
    font-weight: bold;
}

div.playagain {
    text-align: center;
    font-size: 24px;
}


button.button {
    width: 120px;
}
button.hs_submit {
    width: 300px;
    height: 30px;
}

input#id_username {
    width: 100px;
    height: 20px;
    padding: 1px;
    margin: 2px;
}
/* CSS for game */

div.game {

    width: 520px;
    margin-top: 5%;
    position: absolute;
    display: none;
    background-color: #afffaf;
    height: 410px;
    z-index: -100;

    border: 10px dashed #4242ff;
    -webkit-border-top-left-radius: 35px;
    -webkit-border-bottom-left-radius: 35px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-bottom-right-radius: 35px;
    -moz-border-radius-topleft: 35px;
    -moz-border-radius-bottomleft: 35px;
    -moz-border-radius-topright: 35px;
    -moz-border-radius-bottomright: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;




}

div.game-header {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
    width: 500px;
}

div.ct {
    position: absolute;
    top: 95px;
    left: 220px;
    font-size: 145px;
    z-index: -50;
    color: #339933;
    opacity: 0.3;
}
div.nt {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 200;
    opacity: 0.9; 
    top: 200px;
    left: 110px;
    width: 296px;
    height: 62px;
}
div.game-info {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100px;
}

div.game-questions {
    width: 500;
    position: relative;
    z-index: 100;
}


div.qb {
    width:100%;
    height:80px;
    position: absolute;
    z-index: 100;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
}


#a0 {
    top: 95px;
    left: 23px;
}

#a1 {
    left: 263px;
    top: 95px;
}
#a2 {
    left: 23px;
    top: 185px;
}
#a3 {
    left: 263px;
    top: 185px;
}

div.ab {
    position: absolute;
    width:233px;
    height:85px;
    overflow: hidden;
    -webkit-border-top-left-radius: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-bottomleft: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    /* gradient */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699cc', endColorstr='#333399'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#6699cc), to(#333399)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #517fae,  #0c0c3b);  /* for firefox 3.6+ */ 
    text-shadow: 0px -1px 0px #374683;
    color: white;
}


div.abox {
    position:relative; 
    width:233px; 
    height:85px;
}

div.answer  {
    width: 200px;
    top: 2px;
    left: 15px;
    font-size: 14px;
    height:80px;
    overflow: hidden;
    display: table;
    position: absolute;
}

div.answer p {
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.ab:hover {
    cursor: pointer;
    /* gradient */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699cc', endColorstr='#3366cc'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#6699cc), to(#3366cc)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #6699cc,  #3366cc); /* for firefox 3.6+ */ 


}

img.centered {
    margin-top: 20px;
    display: block;
    margin-left: auto;
}
